<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}">
<head>
    <title th:text="#{artists.new}">Placeholder</title>
</head>
<body>
<div layout:fragment="content" class="container">
    <header class="row intro">
        <div class="col">
            <h1 th:text="#{artists.new}">Placeholder</h1>
        </div>
    </header>
    <div class="row">
        <div class="col">
            <form method="post" action="#" th:action="@{/artists}" th:object="${artistForm}">
                <input type="hidden" th:field="*{id}"/>
                <div class="form-group">
                    <label for="artist.name" th:text="#{artist.name}">Placeholder</label>
                    <input type="text" class="form-control" id="artist.name" aria-describedby="artist.name.help"
                           th:field="*{name}"
                           th:placeholder="#{artist.name.placeholder}">
                    <small id="artist.name.help" class="form-text text-muted" th:text="#{artist.name.help}">
                        Placeholder
                    </small>
                </div>
                <div class="form-group">
                    <label for="artist.type" th:text="#{artist.type}">Placeholder</label>
                    <select class="form-control" id="artist.type" th:field="*{type}">
                        <option th:each="type : ${T(ac.simons.music.knowledge.web.ArtistController.ArtistType).values()}"
                                th:value="${type}"
                                th:text="#{${'artist.type.' + type.implementingClass.name}}">Placeholder
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="artist.foundedIn" th:text="#{artist.origin}">Placeholder</label>
                    <select class="form-control" id="artist.foundedIn" th:field="*{origin}">
                        <option value=""></option>
                        <option th:each="country : ${countries}"
                                th:value="${country.code}"
                                th:text="${country.label}">Placeholder
                        </option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary" th:text="#{common.save}">Submit</button>
            </form>

            <form th:if="${soloArtists != null}" method="post" action="#"
                  th:action="@{/artists/{bandId}/member(bandId=${artistForm.id})}" th:object="${newMemberForm}">
                <div class="form-group">
                    <label for="new-membership.artist" th:text="#{artist.name}">Placeholder</label>
                    <select class="form-control" id="new-membership.artist" th:field="*{artistId}">
                        <option value=""></option>
                        <option th:each="soloArtist : ${soloArtists}"
                                th:value="${soloArtist.id}"
                                th:text="${soloArtist.name}">Placeholder
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="new-membership.joined-in" th:text="#{member.joined-in}">Placeholder</label>
                    <input type="number" step="1" class="form-control" id="new-membership.joined-in"
                           th:field="*{joinedIn}">
                </div>
                <div class="form-group">
                    <label for="new-membership.left-in" th:text="#{member.left-in}">Placeholder</label>
                    <input type="number" step="1" class="form-control" id="new-membership.left-in" th:field="*{leftIn}">
                </div>
                <button type="submit" class="btn btn-primary" th:text="#{common.save}">Submit</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
