<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}">
<head>
    <title th:text="#{artists.new}">Placeholder</title>
</head>
<body>
<div layout:fragment="content" class="container">
    <header class="row intro">
        <div class="col">
            <h1 th:text="#{artists.new}">Placeholder</h1>
        </div>
    </header>
    <div class="row">
        <div class="col">
            <form method="post" action="#" th:action="@{/artists}" th:object="${artistCmd}">
                <input type="hidden" th:field="*{id}"/>
                <div class="form-group">
                    <label for="artist.name" th:text="#{artist.name}">Placeholder</label>
                    <input type="text" class="form-control" id="artist.name" aria-describedby="artist.name.help" th:classappend="${#fields.hasErrors('name')}? 'is-invalid' : ''"
                           th:field="*{name}"
                           th:placeholder="#{artist.name.placeholder}">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Placeholder.</div>
                    <small id="artist.name.help" class="form-text text-muted" th:text="#{artist.name.help}">Placeholder</small>
                </div>
                <div class="form-group">
                    <label for="artist.type" th:text="#{artist.type}">Placeholder</label>
                    <select class="form-control" id="artist.type" th:field="*{type}">
                        <option th:each="type : ${T(ac.simons.music.knowledge.web.ArtistController.ArtistType).values()}"
                                th:value="${type}"
                                th:text="#{${'artist.type.' + type.implementingClass.name}}">Placeholder
                        </option>
                    </select>
                </div>
                <div class="form-group" th:if="${artistCmd.type == T(ac.simons.music.knowledge.web.ArtistController.ArtistType).BAND}">
                    <label for="artist.active-since" th:text="#{band.active-since}">Placeholder</label>
                    <input type="number" step="1" class="form-control" id="artist.active-since"
                           th:field="*{activeSince}">
                </div>
                <div class="form-group">
                    <label for="artist.foundedIn" th:text="#{artist.origin}">Placeholder</label>
                    <select class="form-control" id="artist.foundedIn" th:field="*{origin}">
                        <option value=""></option>
                        <option th:each="country : ${countries}"
                                th:value="${country.code}"
                                th:text="${country.label}">Placeholder
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="artist.wikidata-entity-id" th:text="#{artist.wikidata-entity-id}">Placeholder</label>
                    <input class="form-control" id="artist.wikidata-entity-id"
                           th:field="*{wikidataEntityId}">
                </div>
                <button type="submit" class="btn btn-primary" th:text="#{common.save}">Submit</button>
            </form>
        </div>
    </div>

    <div class="row" th:if="${!artistCmd.new}">
        <div class="col-6">
            <h2 th:text="#{artist.associated-artists}">Placeholder</h2>
            <table class="table table-sm table-striped table-hover">
                <thead class="thead-dark">
                <tr>
                    <th scope="col" th:text="#{artist.name}">Placeholder</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="associatedArtist : ${associatedArtists}">
                    <th scope="row" th:text="${associatedArtist.name}">Placeholder</th>
                    </td>
                    <td><a href="#" th:href="@{/artists/{artistId}(artistId=${associatedArtist.id})}"
                           th:text="#{artists.edit}">Placeholder</a></td>
                </tr>
                </tbody>
            </table>

            <form th:if="${notAssociatedArtists != null}"
                  method="post" action="#"
                  th:action="@{/artists/{artistId}/associateWith(artistId=${artistCmd.id})}" th:object="${newMemberForm}">
                <div class="form-group">
                    <label for="new-associated-artist" th:text="#{artist.name}">Placeholder</label>
                    <select class="form-control" id="new-associated-artist" th:field="*{artistId}">
                        <option value=""></option>
                        <option th:each="notAssociatedArtist : ${notAssociatedArtists}"
                                th:value="${notAssociatedArtist.id}"
                                th:text="${notAssociatedArtist.name}">Placeholder
                        </option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary" th:text="#{common.save}">Submit</button>
            </form>
        </div>

        <div class="col-6" th:if="${artistCmd.type == T(ac.simons.music.knowledge.web.ArtistController.ArtistType).BAND}">
            <h2 th:text="#{band.member}">Placeholder</h2>
            <table class="table table-sm table-striped table-hover">
                <thead class="thead-dark">
                <tr>
                    <th scope="col" th:text="#{artist.name}">Placeholder</th>
                    <th scope="col" th:text="#{member.joined-in}">Placeholder</th>
                    <th scope="col" th:text="#{member.left-in}">Placeholder</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="member : ${members}">
                    <th scope="row" th:text="${member.name}">Placeholder</th>
                    <td scope="row" th:text="${member.joinedIn}">Placeholder</td>
                    <td scope="row" th:text="${member.leftIn}">Placeholder</td>
                    </td>
                    <td><a href="#" th:href="@{/artists/{artistId}(artistId=${member.id})}"
                           th:text="#{artists.edit}">Placeholder</a></td>
                </tr>
                </tbody>
            </table>

            <form th:if="${soloArtists != null}"
                  method="post" action="#"
                  th:action="@{/artists/{bandId}/member(bandId=${artistCmd.id})}" th:object="${newMemberForm}">
                <div class="form-group">
                    <label for="new-membership.artist" th:text="#{artist.name}">Placeholder</label>
                    <select class="form-control" id="new-membership.artist" th:field="*{artistId}">
                        <option value=""></option>
                        <option th:each="soloArtist : ${soloArtists}"
                                th:value="${soloArtist.id}"
                                th:text="${soloArtist.name}">Placeholder
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="new-membership.joined-in" th:text="#{member.joined-in}">Placeholder</label>
                    <input type="number" step="1" class="form-control" id="new-membership.joined-in"
                           th:field="*{joinedIn}">
                </div>
                <div class="form-group">
                    <label for="new-membership.left-in" th:text="#{member.left-in}">Placeholder</label>
                    <input type="number" step="1" class="form-control" id="new-membership.left-in" th:field="*{leftIn}">
                </div>
                <button type="submit" class="btn btn-primary" th:text="#{common.save}">Submit</button>
            </form>
        </div>

        <div class="col-6" th:if="${artistCmd.type == T(ac.simons.music.knowledge.web.ArtistController.ArtistType).SOLO_ARTIST}">
            <h2 th:text="#{soloArtist.memberOf}">Placeholder</h2>
            <table class="table table-sm table-striped table-hover">
                <thead class="thead-dark">
                <tr>
                    <th scope="col" th:text="#{artist.name}">Placeholder</th>
                    <th scope="col" th:text="#{member.joined-in}">Placeholder</th>
                    <th scope="col" th:text="#{member.left-in}">Placeholder</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="member : ${memberships}">
                    <th scope="row" th:text="${member.band.name}">Placeholder</th>
                    <td scope="row" th:text="${member.joinedIn}">Placeholder</td>
                    <td scope="row" th:text="${member.leftIn}">Placeholder</td>
                    </td>
                    <td><a href="#" th:href="@{/artists/{artistId}(artistId=${member.band.id})}"
                           th:text="#{artists.edit}">Placeholder</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row" th:if="${!artistCmd.new}">
        <div class="col-6" th:if="${#lists.size(albums) > 0}">
            <h2 th:text="#{albums}">Placeholder</h2>
            <table class="table table-sm table-striped table-hover" >
                <thead class="thead-dark">
                <tr>
                    <th scope="col" th:text="#{album.name}">Placeholder</th>
                    <th scope="col" th:text="#{album.releasedIn}">Placeholder</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="album : ${albums}">
                    <th scope="row" th:text="${album.name}">Placeholder</th>
                    <td th:text="${album.releasedIn}">Placeholder</td>
                    <td><a href="#" th:href="@{/albums/{albumId}(albumId=${album.id})}" th:text="#{albums.edit}">Placeholder</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-4">
            <h2 th:text="#{common.wikipedia}">Placeholder</h2>
            <ul th:each="wikipediaArticle : ${wikipediaArticles}">
                <li><a th:href="@{${wikipediaArticle.url}}" th:text="${wikipediaArticle.title} + ' (' + ${wikipediaArticle.site} + ')'">Placeholder</a></li>
            </ul>
        </div>
    </div>

    <div class="row" th:if="${!artistCmd.new && #lists.size(tours)  > 0}">
        <div class="col">
            <h2 th:text="#{on-tour}">Placeholder</h2>

            <form>
                <div class="form-group">
                    <select class="form-control"  id="venues-url-changer">
                        <option value=""></option>
                        <option th:each="tour : ${tours}"
                                th:value="@{/tours/{tourId}(tourId=${tour.id})}"
                                th:text="${tour.label}">Placeholder
                        </option>
                    </select>
                </div>
            </form>

            <div id="map"><div id="info"></div></div>
        </div>
    </div>
</div>
</body>
</html>
