<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}">
<head>
    <title th:text="#{artists.new}">Placeholder</title>
</head>
<body>
<div layout:fragment="content" class="container">
    <header class="row intro">
        <div class="col">
            <h1 th:text="#{artists.new}">Placeholder</h1>
        </div>
    </header>
    <div class="row">
        <div class="col">
            <form method="post" action="#" th:action="@{/artists}" th:object="${artistCmd}">
                <input type="hidden" th:field="*{id}"/>
                <div class="form-group">
                    <label for="artist.name" th:text="#{artist.name}">Placeholder</label>
                    <input type="text" class="form-control" id="artist.name" aria-describedby="artist.name.help" th:classappend="${#fields.hasErrors('name')}? 'is-invalid' : ''"
                           th:field="*{name}"
                           th:placeholder="#{artist.name.placeholder}">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Placeholder.</div>
                    <small id="artist.name.help" class="form-text text-muted" th:text="#{artist.name.help}">Placeholder</small>
                </div>
                <div class="form-group">
                    <label for="artist.type" th:text="#{artist.type}">Placeholder</label>
                    <select class="form-control" id="artist.type" th:field="*{type}">
                        <option th:each="type : ${T(ac.simons.music.knowledge.web.ArtistController.ArtistType).values()}"
                                th:value="${type}"
                                th:text="#{${'artist.type.' + type.implementingClass.name}}">Placeholder
                        </option>
                    </select>
                </div>
                <div class="form-group" th:if="${artistCmd.type == T(ac.simons.music.knowledge.web.ArtistController.ArtistType).BAND}">
                    <label for="artist.active-since" th:text="#{band.active-since}">Placeholder</label>
                    <input type="number" step="1" class="form-control" id="artist.active-since"
                           th:field="*{activeSince}">
                </div>
                <div class="form-group">
                    <label for="artist.foundedIn" th:text="#{artist.origin}">Placeholder</label>
                    <select class="form-control" id="artist.foundedIn" th:field="*{origin}">
                        <option value=""></option>
                        <option th:each="country : ${countries}"
                                th:value="${country.code}"
                                th:text="${country.label}">Placeholder
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="artist.wikidata-entity-id" th:text="#{artist.wikidata-entity-id}">Placeholder</label>
                    <input class="form-control" id="artist.wikidata-entity-id"
                           th:field="*{wikidataEntityId}">
                </div>
                <button type="submit" class="btn btn-primary" th:text="#{common.save}">Submit</button>
            </form>
        </div>
    </div>

    <div class="row" th:unless="${artistCmd.new}">
        <div class="col-6">

            <div class="row">
                <div class="col-12"> <!-- ASSOCIATED ARTISTS -->

                    <h2 th:text="#{artist.associated-artists}">Placeholder</h2>
                    <table class="table table-sm table-striped table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col" th:text="#{artist.name}">Placeholder</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="associatedArtist : ${associatedArtists}">
                                <th scope="row" th:text="${associatedArtist.name}">Placeholder</th>
                                <td><a href="#" th:href="@{/artists/{artistId}(artistId=${associatedArtist.id})}" th:text="#{artists.edit}">Placeholder</a></td>
                                <td>
                                    <form method="post" th:method="delete" th:action="@{/artists/{artistId1}/deassociateFrom(artistId1=${artistCmd.id},artistId=${associatedArtist.id})}">
                                        <button type="submit" class="text-danger btn-link p-0 border-0" th:text="#{artists.delete}">Placeholder</button>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <form th:if="${notAssociatedArtists != null}"
                        method="post" action="#"
                        th:action="@{/artists/{artistId}/associateWith(artistId=${artistCmd.id})}" th:object="${newAssociatedArtistForm}">

                        <div class="form-group">
                            <label for="new-associated-artist" th:text="#{artist.name}">Placeholder</label>
                            <select class="form-control" id="new-associated-artist" th:field="*{artistId}">
                                <option value=""></option>
                                <option th:each="notAssociatedArtist : ${notAssociatedArtists}"
                                    th:value="${notAssociatedArtist.id}"
                                    th:text="${notAssociatedArtist.name}">Placeholder
                                </option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary" th:text="#{common.save}">Submit</button>
                    </form>
                </div>
            </div>


        </div>

        <div class="col-6" th:if="${artistCmd.type == T(ac.simons.music.knowledge.web.ArtistController.ArtistType).BAND}">
            <h2 th:text="#{band.member}">Placeholder</h2>
            <table class="table table-sm table-striped table-hover">
                <thead class="thead-dark">
                <tr>
                    <th scope="col" th:text="#{artist.name}">Placeholder</th>
                    <th scope="col" th:text="#{member.joined-in}">Placeholder</th>
                    <th scope="col" th:text="#{member.left-in}">Placeholder</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="member : ${members}">
                    <th scope="row" th:text="${member.name}">Placeholder</th>
                    <td scope="row" th:text="${member.joinedIn}">Placeholder</td>
                    <td scope="row" th:text="${member.leftIn}">Placeholder</td>
                    <td><a href="#" th:href="@{/artists/{artistId}(artistId=${member.id})}"
                           th:text="#{artists.edit}">Placeholder</a></td>
                </tr>
                </tbody>
            </table>

            <form th:if="${soloArtists != null}"
                  method="post" action="#"
                  th:action="@{/artists/{bandId}/member(bandId=${artistCmd.id})}" th:object="${newMemberForm}">
                <div class="form-group">
                    <label for="new-membership.artist" th:text="#{artist.name}">Placeholder</label>
                    <select class="form-control" id="new-membership.artist" th:field="*{artistId}">
                        <option value=""></option>
                        <option th:each="soloArtist : ${soloArtists}"
                                th:value="${soloArtist.id}"
                                th:text="${soloArtist.name}">Placeholder
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="new-membership.joined-in" th:text="#{member.joined-in}">Placeholder</label>
                    <input type="number" step="1" class="form-control" id="new-membership.joined-in"
                           th:field="*{joinedIn}">
                </div>
                <div class="form-group">
                    <label for="new-membership.left-in" th:text="#{member.left-in}">Placeholder</label>
                    <input type="number" step="1" class="form-control" id="new-membership.left-in" th:field="*{leftIn}">
                </div>
                <button type="submit" class="btn btn-primary" th:text="#{common.save}">Submit</button>
            </form>
        </div>

        <div class="col-6" th:if="${artistCmd.type == T(ac.simons.music.knowledge.web.ArtistController.ArtistType).SOLO_ARTIST}">
            <h2 th:text="#{soloArtist.memberOf}">Placeholder</h2>
            <table class="table table-sm table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" th:text="#{artist.name}">Placeholder</th>
                        <th scope="col" th:text="#{member.joined-in}">Placeholder</th>
                        <th scope="col" th:text="#{member.left-in}">Placeholder</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="member : ${memberships}">
                        <th scope="row" th:text="${member.band.name}">Placeholder</th>
                        <td scope="row" th:text="${member.joinedIn}">Placeholder</td>
                        <td scope="row" th:text="${member.leftIn}">Placeholder</td>
                        <td><a href="#" th:href="@{/artists/{artistId}(artistId=${member.band.id})}"
                               th:text="#{artists.edit}">Placeholder</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row" th:unless="${artistCmd.new}">
        <div class="col-6" th:if="${#lists.size(albums) > 0}">
            <h2 th:text="#{albums}">Placeholder</h2>
            <table class="table table-sm table-striped table-hover" >
                <thead class="thead-dark">
                <tr>
                    <th scope="col" th:text="#{album.name}">Placeholder</th>
                    <th scope="col" th:text="#{album.releasedIn}">Placeholder</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="album : ${albums}">
                    <th scope="row" th:text="${album.name}">Placeholder</th>
                    <td th:text="${album.releasedIn}">Placeholder</td>
                    <td><a href="#" th:href="@{/albums/{albumId}(albumId=${album.id})}" th:text="#{albums.edit}">Placeholder</a></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-4" th:unless="${wikipediaArticles.empty}">
            <h2 th:text="#{common.wikipedia}">Placeholder</h2>
            <ul th:each="wikipediaArticle : ${wikipediaArticles}">
                <li><a th:href="@{${wikipediaArticle.url}}" th:text="${wikipediaArticle.title} + ' (' + ${wikipediaArticle.site} + ')'">Placeholder</a></li>
            </ul>
        </div>
    </div>

    <div class="row" th:unless="${artistCmd.new or recommendations.empty}">
        <div class="col-6"> <!-- RECOMMENDED ARTISTS -->

            <h2 th:text="#{artist.recommended-artists}">Placeholder</h2>
            <table class="table table-sm table-striped table-hover">
                <thead class="thead-dark">
                <tr>
                    <th scope="col" th:text="#{artist.name}">Placeholder</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="recommendation : ${recommendations}">
                    <th scope="row" th:text="${recommendation.recommendedArtist.name}">Placeholder</th>
                    <td th:text="${recommendation.reason}">Placeholder</td>
                    <td><a href="#" th:href="@{/artists/{artistId}(artistId=${recommendation.recommendedArtist.id})}"
                           th:text="#{artists.edit}">Placeholder</a></td>
                </tr>
                </tbody>
            </table>

            <p>
                <a class="btn btn-light" data-toggle="collapse" href="#recommendedArtistsQuery" role="button"
                   aria-expanded="false" aria-controls="recommendedArtistsQuery" th:text="#{common.show-query}">Placeholder</a>
            </p>
        </div>
        <div class="col-12 collapse" id="recommendedArtistsQuery">
            <pre>
// First recommended artists that are not related on the first level with the given artist but might be of interest.
var cypher
    = " MATCH (src:Artist)"
    + " WHERE id(src) = $id"
    + " WITH src"
    + " MATCH (src) - [:ASSOCIATED_WITH|HAS_MEMBER*..2] - (associated:Artist)"
    + " OPTIONAL MATCH (associated) &lt;- [:ASSOCIATED_WITH|HAS_MEMBER] - (ternary:Band)"
    + " WITH src, collect(associated) + collect(ternary) AS recommendations"
    + " UNWIND recommendations as recommended"
    + " MATCH (recommended)"
    + " WHERE NOT (src) - [:ASSOCIATED_WITH|HAS_MEMBER] - (recommended)"
    + "   AND (src) &lt;&gt; (recommended)"
    + " RETURN DISTINCT recommended AS recommendedArtist, "
    + "                 '' AS reason"
    + " ORDER BY recommended.name";
var associatedArtists = session.query(ArtistEntity.class, cypher, parameters);

// Then recommendations based on similar subgenres
cypher
    = " MATCH (src:Artist),"
    + "       (src)-[:FOUNDED_IN|:BORN_IN]-&gt;(country:Country),"
    + "       (album:Album) - [:RELEASED_BY] -&gt; (src),"
    + "       (album)-[:HAS]-&gt;(genre:Genre),"
    + "       (album)-[:RELEASED_IN|PART_OF*2]-&gt;(decade:Decade)"
    + " WHERE id(src) = $id"
    + " WITH src, country, genre, decade,"
    + " COUNT(*) AS frequencyGenre"
    + " ORDER BY frequencyGenre DESC"
    + " WITH *"
    + " MATCH (otherAlbums) - [:RELEASED_BY] -&gt; (recommended:Artist) - [:FOUNDED_IN|:BORN_IN]-&gt;(country)"
    + " MATCH (decade) &lt;-[:RELEASED_IN|PART_OF*2] - (otherAlbums) - [:HAS] -&gt; (genre)"
    + " WHERE NOT (src) - [:ASSOCIATED_WITH|HAS_MEMBER] - (recommended)"
    + "       AND (src) &lt;&gt; (recommended)"
    + " RETURN DISTINCT recommended AS recommendedArtist, "
    + "                 decade.value + ' ' + country.name + '  ' + genre.name AS reason"
    + " ORDER BY recommended.name";
var recommendedArtists = session.query(cypher, parameters);
            </pre>
        </div>
    </div>

    <div class="row" th:unless="${artistCmd.new || tours.empty}">
        <div class="col">
            <h2 th:text="#{on-tour}">Placeholder</h2>

            <form>
                <div class="form-group">
                    <select class="form-control"  id="venues-url-changer">
                        <option value=""></option>
                        <option th:each="tour : ${tours}"
                                th:value="@{/tours/{tourId}(tourId=${tour.id})}"
                                th:text="${tour.label}">Placeholder
                        </option>
                    </select>
                </div>
            </form>

            <div id="map"><div id="info"></div></div>
        </div>
    </div>
</div>
</body>
</html>
