<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}">
<head>
    <title th:text="#{genres}">Placeholder</title>
    <script th:inline="javascript">
        var microgenres = /*[[${microgenres}]]*/ {};
    </script>
</head>
<body>
<div layout:fragment="content" class="container">
    <header class="row intro">
        <div class="col">
            <h1 th:text="#{genres}">Placeholder</h1>
        </div>
    </header>

    <div class="row">
        <div class="col-3">
            <table class="table table-sm table-striped table-hover">
                <thead class="thead-dark">
                <tr>
                    <th scope="col" th:text="#{genre.name}">Placeholder</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="genre : ${top10Microgenres}">
                    <td th:text="${genre.name}">Placeholder</td>
                    <td th:text="${genre.frequency}">Placeholder</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-9">
            <div id="container" style="max-width:100%; height:50em;"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <p>
                <a class="btn btn-light" data-toggle="collapse" href="#microgenreQuery" role="button"
                   aria-expanded="false" aria-controls="microgenreQuery" th:text="#{common.show-query}">Placeholder</a>
            </p>
            <div class="collapse" id="microgenreQuery">
            <pre>
@Query(value
	= " MATCH (a:Album)-[:CONTAINS]-&gt;(track)-[pc:HAS_BEEN_PLAYED_IN]-&gt;(),"
	+ "       (a)-[:RELEASED_BY]-&gt;(artist)"
	+ "  WITH artist, a, sum(pc.value) AS frequencyAlbum"
	+ " MATCH (a)-[:HAS]-&gt;(g:Genre),"
	+ "       (a)-[:RELEASED_IN]-&gt;(:Year)-[:PART_OF]-&gt;(d:Decade),"
	+ "       (artist)-[:FOUNDED_IN|:BORN_IN]-&gt;(c:Country)"
	+ "  WITH g, d, c, "
	+ "       sum(frequencyAlbum) AS frequencyGenre, "
	+ "       collect({name: artist.name + ': '  + a.name, frequency: frequencyAlbum}) AS albums"
	+ "  RETURN d.value + ' ' + c.name + '  ' + g.name  AS name,"
	+ "         frequencyGenre as frequency,"
	+ "         albums"
)
List&lt;Microgenre&gt; findAllMicrogrenes();
            </pre>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <a class="btn btn-primary" href="#" role="button" th:href="@{/genres/new}"
               th:text="#{genres.new}">Placeholder</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div th:fragment="listOfGenres(theGenres)" th:with="theGenres=${theGenres} ?: ${genres}" th:remove="tag">
                <table class="table table-sm table-striped table-hover">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col" th:text="#{genre.name}">Placeholder</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="genre : ${theGenres}">
                        <th scope="row" th:text="${genre.name}">Placeholder</th>
                        <td><a href="#" th:href="@{/genres/{genreId}(genreId=${genre.id})}"
                               th:text="#{genres.edit}">Placeholder</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>
