<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <!-- See https://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html#javascript-inlining -->
    <script th:inline="javascript">
        var charts = /*[(${charts})]*/ {};
    </script>
</head>
<body>
<div layout:fragment="content" class="container" data-controller="index">
    <header class="row intro">
        <div class="col">
            <h1 th:text="#{charts.title(${#temporals.format(yearMonth, 'MMM yyyy', locale)})}">The charts</h1>
        </div>
    </header>
    <div class="row">
        <div class="col">
            <div id="container" style="width:100%; height:600px;"></div>
        </div>
    </div>
</div>
</body>
</html>
