version: '3.7'

services:
  statsdb:
    image: bootiful-music/statsdb
    build: 
      context: statsdb
    environment:
      - POSTGRES_DB=bootiful-music
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD_FILE=/run/secrets/database_root_password
    volumes:
      - ./var/statsdb:/var/lib/postgresql/data
    secrets:
      - database_root_password
      - database_statsdb_password
    ports:
      - "5432:5432"
  knowledgedb:
      image: bootiful-music/knowledgedb
      build:
        context: knowledgedb
      environment:
        - NEO4J_AUTH_FILE=/run/secrets/knowledgedb_root_password
      volumes:
        - ./var/knowledgedb:/data
        - ./var/knowledgedb/plugins:/var/lib/neo4j/plugins
      secrets:
        - knowledgedb_root_password
      ports:
        - "7474:7474"
        - "7687:7687"
      links:
        - statsdb

secrets:
  database_root_password:
    file: ./secrets/${PROFILE}/database_root_password
  database_statsdb_password:
    file: ./secrets/${PROFILE}/database_statsdb_password
  knowledgedb_root_password:
    file: ./secrets/${PROFILE}/knowledgedb_root_password